@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');

html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}
  
  /*=======================
  //  PROSIMM DESIGN KIT
  ========================*/
  
:root{
    --darkOrange: #C67428;
    --orange: #FF9534;
    --yellow: #F6E2B0;
    --liteYellow: #FFF2CF;
    --grey: #7D7D7D;
    --liteGrey: #E5E5E5;
    --crimson: #D53C3C;
    --leaf: #8AD87E;
    --whitesmoke: #F3F3F3;
}

  /*================
  //  ANIMATIONS
  =================*/

@keyframes desc{
    0%{
      transform: translateX(0em) skew(0deg,0turn);
    }
    100%{
      transform: translateX(0em) skew(0deg,0turn);
    }
}

  /*============
  //  VIEW
  =============*/
#modal{
    position: absolute;
    height: inherit;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}

.lightbox{
    position: absolute;
    height: max-content;
    width: 80%;
    background-color: white;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header{
    position: fixed;
    left: 0;
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: xx-large;
    background-color: white;
}

#logo{
    background-image: url(logo.png);
    height: 1.25em;
    width: 1.25em;
    margin-right: 2vw;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#h-left{
    margin-left: 4vw;
    color: var(--orange);
    display: flex;
    align-items: center;
}

#h-right{
    margin-right: 6vw;
    color: var(--grey);
    font-size: 150%;
    display: block;
}

#h-left:hover, #h-right:hover, .nav-box:hover{
    cursor: pointer;
}

.view{
    width: 100%;
}

#content{
    width: 100%;
    height: 100vh;
    background-color: #8AD87E;
    margin-top: 12vh;
    margin-bottom: 15vh;
}

#navigation{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 11vh;
    background-color: var(--whitesmoke);
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
    align-items: center;
    color: var(--darkOrange)
    /* box-shadow: 0.1em 0.1em 2em 0.02em rgba(0, 0, 0, 0.18); */
}

.nav-box{
    display: grid;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.nav-active{
    background-color: var(--liteGrey);
}

.nav-icon{
    height: 3em;
    width: 3em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#nav-my-tasks .nav-icon{
    background-image: url(nav_mytasks.png);
}

#nav-team-tasks .nav-icon{
    background-image: url(nav_teamtasks.png);
}

#nav-journals .nav-icon{
    background-image: url(nav_journals.png);
}

#nav-my-team .nav-icon{
    background-image: url(nav_myteam.png);
}

#nav-profile .nav-icon{
    background-image: url(nav_myteam.png);
}
